@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&display=swap');
*{
  margin: 0;
  padding:0;
  outline:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  min-height: 100%;
}

.App {
text-align: center;
height: auto;
font-family: 'Merriweather', serif;
min-width: 815px;
}

.head{
  color: white;
  text-align: center;
  background-color: black;
  padding: 1rem;
  text-decoration: underline;
}
.content{
 position: relative;
  height:70vh;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 0 40px 40px -10px #8b8b8b;
  
}
.left{
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("./black.jpg");
  border-right: 0px solid white;
}

.left h3{
  margin: 0 auto;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.left input{
  display: inline;
  margin: 0.5rem auto;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
.inputParent{
  width: 80%;
  margin: 0 auto;
}
.field{
  position: relative;
  margin-bottom: 1rem;
}
.field::after{
  background-color:white; 
  bottom: 0;
  content: '';
  display: block;
  height: 0.5px;
  left: 40%;
  position: absolute;
  transform: translate(-50%,0);
  width: 40%;

}
.field label{
  margin-left: 2rem;
  font-size: 0.8rem;
}

.left button{
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 0.4rem;
}
.result{
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  width: 60%;
}
.right{
  position: relative;
  width: 50%;
  float: right;
  height: 100%;
  
  background-color: rgb(11, 5, 68);
  
}
.svgImg{
  height: 100%;
width: 75%;
}
/* Footer */


.footer{
  clear: both;
  height: 15vh;
  background-color:black;
position: relative;
margin-top: -15vh;
color: white;
margin-top: 10rem;

}

.links{
text-align: center;
margin-top: 2rem;
padding-top: 2rem;
font-size: 1.2rem;

}
.links span{
  padding-left: 1rem;
  padding-right: 1rem ;
  margin-top: 2rem;  
  cursor: pointer;
  color: white;
}
.links span:hover{
  text-decoration: underline;
}
.links a{
  padding-left: 1rem;
  padding-right: 1rem ;
  margin-top: 2rem;  
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.links a:hover{
  text-decoration: underline;
}
.footer small{

  display: block;
  position: absolute;
 width: auto;
right: 3%;
bottom: 10%;
 font-size: 0.5rem;

}

@media only screen and (min-width: 1000px) {
  .footer {
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  .footer {
    display: none;
  }
}